spring:

  profiles:
    active: local

  server:
    port: 8080 

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true 
    
    hibernate:
      ddl-auto: update 
      format-sql: true
      
    database-platform: org.hibernate.dialect.MySQL8Dialect
    
    properties:
      hibernate:
        default-batch-fetch-size: 100 # Batch Size 설정

  flyway:
    enabled: true
    locations: classpath:db/migration

  jackson:
    serialization:
      write-dates-as-timestamps: false

  devtools:
    restart:
      enabled: true

logging:
  # level 키를 한 번만 사용하고 모든 레벨 설정을 여기에 통합
  level:
    root: info
    
    org.hibernate.SQL: debug        
    org.hibernate.type: trace
    com.example.reservationsystem: debug 
    
  # pattern 키는 level과 동등한 위치에 설정
  pattern:
    level: "%5p [%t] %-40.40c{1}: %m%n"

myapp:
  jwt:
    secret: "v3ryS3cr3tK3yF0rJw7T0k3nG3n3r4t10nB4s364Enc0d3dStr1ng!!"
    expiration: 3600000